.task-list {
  list-style: none;                                 /* 리스트 스타일 제거 */
  padding: 0;                                       /* 내부 여백 제거 */
  margin: 0;                                        /* 외부 여백 제거 */
}

.task-list li {
  list-style: none;                                 /* 리스트 스타일 제거 */
  padding: 0;                                       /* 내부 여백 제거 */
  margin: 0;                                        /* 외부 여백 제거 */
  width: 100%;                                      /* 너비 100% */
}
