/* AddTask Component Styles */

.task-input {
  font-size: 12px !important;                         /* 폰트 크기 */
  color: #828282 !important;                        /* 폰트 색상 */
  /* flex: 1;                                         남은 공간 모두 차지 */
}

.task-input:focus {
  border-color: #171717;                           /* 포커스 시 테두리 색상 (검은색) */
}
